//===COLORS==========================
$header-info-color: #2e2e2e;
$header-main-color: white;
//
$logo-color: black;
$text-color: black;
$icons-color: black;
$Input-text-color: #6c6c6c;
$active-button-color: #e46000;
//
$Cart-number-backg: #e46000;
$lines-color: #dadada;
$burger-drop-menu-color: #f5f5f5;
$katlog-dropdown-bg-color: #f5f5f5;

//===Font Sizes========================

//=============================HEADER===============================

.header {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 4;
   //==========================for sctipt.js header effect
   min-height: 30px;
   @media (max-width: 767px) {
      min-height: 5px;
   }
   &._scroll {
      .header-color {
         transition: min-height 0.2s ease 0s; // scroll start
         min-height: 70px;
         @media (max-width: 767px) {
            min-height: 50px;
         }
      }
      .header-main {
         &__body {
            transition: min-height 0.2s ease 0s; // scroll start
            min-height: 70px;
            @media (max-width: 767px) {
               min-height: 50px;
            }
         }
      }
      .katalog {
         transition: transform 0.3s, top 0.2s ease 0s; // scroll start
         top: 70px;
         @media (max-width: 767px) {
            // top: 50px;
            top: 0;
         }
         &::after {
            height: 5%;
         }
      }
      .search__input {
         transition: top 0.2s ease 0s, width 0.6s ease 0s; // scroll start
         top: 70px;
         @media (max-width: 767px) {
            top: 50px;
         }
      }
   }
   //==========================for sctipt.js header effect
   &__wrapper {
      position: fixed;
      width: 100%;
      left: 0;
      right: 0;
      z-index: 4;
   }
}
body {
   &._lock {
      overflow: hidden;
      & main {
         pointer-events: none;
      }
      & footer {
         pointer-events: none;
      }
      // & .header-main__left {
      //    pointer-events: none;
      // }
   }
}

//=================================================Main header==================
.header-color {
   position: absolute;
   top: 0;
   left: 0;
   // background: rgba(189, 189, 189, 0.33);
   // backdrop-filter: blur(66px);
   background-color: rgba(255, 255, 255, 0.33); // header color
   backdrop-filter: blur(20px);
   width: 100%;
   min-height: 100px;
   z-index: -1;
   transition: min-height 0.2s ease 0s, background 0.6s ease 0s; //scroll return
   @media (max-width: 767px) {
      min-height: 70px;
   }
   &._active {
      background: rgba(248, 248, 248, 0.89); // katalog the same and search form
      backdrop-filter: blur(66px);
   }
}
.header-main {
   transition: background-color 0.3s ease 0s;
   width: 100%;
   &__container {
   }
   &__body {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center;
      min-height: 100px; //=====================================height of header
      transition: min-height 0.2s ease 0s; //scroll return
      @media (max-width: 767px) {
         min-height: 70px;
      } //is setted in style.scss
   }
   //==============================RIGHT============================
   &__right {
      display: flex;
      align-items: flex-start;
   }
   &__search {
      margin-right: 10px; //===========================margint right
   }
   &__cart {
      @media (max-width: 767px) {
         margin-right: 13.5px; //===========================margint right
      }
   }
   &__burger {
      display: none;
      position: relative;
      cursor: pointer;
      height: 29.34px;
      width: 29.34px;
      //============burger
      @media (max-width: 767px) {
         display: block;
         z-index: 5;
      }
      & div {
         margin: auto;
         position: absolute;
         top: 0;
         right: 0;
         left: 0;
         bottom: 0;
         width: 22px;
         height: 12px;
         pointer-events: none;
      }
      & span {
         pointer-events: none;
         position: absolute;
         display: block;
         width: 100%;
         height: 2px;
         background-color: black;
         border-radius: 1px;
         transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

         &:first-of-type {
            top: 0;
         }
         &:last-of-type {
            bottom: 0;
         }
      }
      &._active div span {
         &:first-of-type {
            transform: rotate(45deg);
            top: 5px;
            width: 22px;
         }
         &:last-of-type {
            transform: rotate(-45deg);
            bottom: 5px;
            width: 22px;
         }
      }
      @media (any-hover: hover) {
         &:hover {
            & span:first-of-type {
               width: 26px;
            }
            & span:last-of-type {
               width: 12px;
            }
         }
      }
   }
   //=============================LEFT==============================
   &__left {
      display: flex;
      align-items: center;
      // flex: 1 1 auto;
   }
   //===LOGO TEXT=============

   &__logo {
      position: relative;
      width: auto;
      @media (min-width: 767px) {
         width: 360px;
         @media (max-width: 1400px) {
            width: 360px/1400px * 100vw;
         }
      }
      & a {
         font-family: Karla;
         font-style: normal;
         line-height: 90%;
         font-weight: bold;
         font-size: 24px;
         color: black;

         & div:last-child() {
            display: flex;
            align-items: center;
         }

         @media (max-width: 767px) {
            font-size: 20px;
         }
      }
      &-dot {
         display: inline-block;
         margin-right: 5px;
         width: 12px;
         height: 12px;
         border-radius: 50%;
         background-color: $accent-color;
         // transform: translateY(-500%);
         // transition: transform 0.75s cubic-bezier(0.46, 2.21, 0.14, -0.16) 0s;
         // &.loaded {
         //    transform: translateY(0);
         // }
      }
   }
   &__menu {
      @media (min-width: 767px) {
      }
      //---menu goes left when click to burger 'header-main__burger'
      @media (max-width: 767px) {
         position: fixed;
         width: 320px;
         top: 0;
         right: -100%;
         height: 100%;
         overflow-y: auto;
         overflow-x: hidden;
         transition: right 0.3s ease-in-out 0s;
         &._active {
            right: 0;
         }
         &::after {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            pointer-events: none;
            width: 100vw;
            height: 100vh;
            z-index: -1;
            background-color: rgba(255, 255, 255, 0);
            backdrop-filter: blur(0px);
            transition: backdrop-filter 1s ease 0s, background 1s ease 0s;
         }
         &._active::after {
            // pointer-events: auto;
            background-color: rgba(255, 255, 255, 0.342);
            @supports ((-webkit-backdrop-filter: blur(4px)) or (backdrop-filter: blur(4px))) {
               backdrop-filter: blur(4px);
            }
         }
      }
   }
   &__wrapper {
      @media (max-width: 767px) {
         background-color: $page-background;
         box-shadow: 1px 0px 5px 0px $lines-color inset;
         height: 100%;
      }
   }
}

//=================================================Menu=============
.menu {
   @media (max-width: 767px) {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      //
      transition: transform 0.3s;
      //
      &._swipe {
         // transition: transform 0.3s;
         transform: translate(-100%);
         .menu__container {
            overflow: hidden;
         }
      }
   }
   &__container {
      overflow: visible;
      @media (max-width: 767px) {
         height: 100%;
         overflow-y: auto;
         overflow-x: hidden;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         padding: 60px 30px 20px; //=======================padding
      }
   }
   &__body {
   }
   //---ul
   &__list {
      @media (min-width: 767px) {
         display: flex;
         flex-wrap: wrap;
         align-items: center;
      }
      @media (max-width: 767px) {
         display: block;
         height: auto;
         margin: 0;
      }
   }
   //---li
   &__item {
      @media (min-width: 767px) {
         &:not(:last-child) {
            margin-right: 30px;
         }
      }
      @media (max-width: 767px) {
         padding: 10px 0;
         &:not(:first-child) {
            padding: 20px 0;
         }
      }
   }
   //===TEXT header (where are we...)
   //---a
   &__link {
      cursor: pointer;
      color: black;
      @media (max-width: 767px) {
         display: block;
      }
   }
   //to show katalog
   &__item-katalog {
      @media (min-width: 767px) {
      }
      @media (max-width: 767px) {
         border-top: 1px solid $lines-color;
         border-bottom: 1px solid $lines-color;
      }
      //color of katalog button
      & .menu__link {
         color: $accent-color;
         position: relative;
      }
      //when hover katalog opens only in devices that has mouse
      @media (min-width: 767px) {
         @media (any-hover: hover) {
            &:hover {
               .katalog {
                  // display: block;
                  transition: opacity 0.6s ease 0s, top 0.2s ease 0s; // scroll return
                  opacity: 1;
                  visibility: visible;
                  pointer-events: auto;
               }
            }
         }
      }
      //when click in touch device than was width bigger than 768px katalog opens
      // + js code in script.js ads class active
      // @media (min-width: 767px) {
      &._active {
         .katalog {
            // display: block;
            transition: opacity 0.6s ease 0s, top 0.2s ease 0s; // scroll return
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
         }
      }
      // }
   }
   //contact in burger
   &__contacts {
      display: none;
      @media (max-width: 767px) {
         display: block;
         border-top: 1px solid $lines-color;
         padding-top: 10px; //=======================padding
         .contact-sn {
            display: flex;
            align-items: center;
            justify-content: space-between;
         }
         .contacts-icon::before {
            color: black;
            font-size: 40px;
         }
         .contacts-icon {
            display: inline-block;
            text-decoration: none;
         }
         .contacts-phone {
            display: block;
            color: black;
            text-decoration: underline;
            margin-bottom: 20px; //===========================margin
         }
         .contacts-adress {
            margin-bottom: 20px; //=========================marign
         }
         .contacts-text {
            color: $shade-dark-2;
            margin-bottom: 10px; //======================marign
         }
      }
   }
   &__link-katalog {
      @media (max-width: 767px) {
         display: flex;
         align-items: center;
      }
   }
}
//=================================================Katalog dropdown================
.katalog {
   @media (min-width: 767px) {
      opacity: 0;
      visibility: none;
      pointer-events: none;
      transition: opacity 0.6s ease 0s; // scroll return
      //
      position: absolute;
      &::after {
         content: "";
         position: absolute;
         bottom: 100%;
         left: 15%;
         width: 20%;
         height: 7%;
         // background-color: red;
      }
      z-index: 100;
      width: 100%;
      left: 0;
      top: 100px;

      background: rgba(248, 248, 248, 0.89);
      backdrop-filter: blur(66px);
   }
   @media (max-width: 767px) {
      display: none;
      &._display {
         display: block;
      }
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      //
      transition: transform 0.3s, top 0.2s ease 0s; // scroll return
      left: 99.5%;
      &._swipe {
         // transition: transform 0.3s;
         transform: translate(-100%);
         .katalog__container {
            overflow: hidden;
         }
      }
   }
   &__container {
      // padding: 0 7.5%;
      @media (max-width: 767px) {
         width: auto;
         padding: 0;
         height: 100%;
         overflow-y: auto;
         overflow-x: hidden;
         padding: 60px 30px 20px; //=======================padding
      }
   }
   &__body {
      @media (min-width: 767px) {
         padding: 50px 0px;
         position: relative;
      }
      @media (max-width: 767px) {
         padding: 0;
      }
   }
   //===ul==============
   &__list {
      @media (min-width: 767px) {
         padding: 0 7.5%;
         overflow: auto;
         //
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
         align-content: space-between;
         //
         min-height: 37vh;
         height: 61vh;
         max-height: calc(900px - 25vw);
      }
      width: 100.5%;
      @media (max-width: 767px) {
         display: block;
         height: auto;
         margin: 0;
      }
   }
   //===li============
   &__item {
      min-height: 70px;
      // padding: 15px 0px;
      padding: 0px 15px 25px 15px;
      @media (max-width: 767px) {
         min-height: 0;
         padding: 10px 0;
         &:not(:first-child) {
            padding: 10px 0;
         }
         //for .arrow-right-drop
         display: flex;
         align-items: center;
      }
   }
   //===TEXT title in dropdown menu (swimming...)===============
   &__link {
      color: black;
      position: relative;
      left: 0;
      &::before {
         font-size: 30px;
         margin-right: 5px;
         text-decoration: none;
         @media (max-width: 767px) {
            font-size: 40px;
         }
      }
      @media (min-width: 767px) {
         margin-bottom: 10px;
      }
   }
}
.sub-katalog {
   @media (max-width: 767px) {
      display: none;
      &._display {
         display: block;
      }
      position: absolute;
      width: 100.5%;
      height: 100%;
      top: 0;
      //
      // transition: transform 0.3s;
      left: 99.5%;
   }
   &__container {
      @media (max-width: 767px) {
         width: auto;
         padding: 0;
         height: 100%;
         overflow-y: auto;
         overflow-x: hidden;
         padding: 60px 30px 20px; //=======================padding
      }
   }
   &__body {
   }
   //========ul
   &__list {
      @media (min-width: 767px) {
         display: flex;
         flex-direction: column;
      }
   }
   //=======li
   &__item {
      position: relative;
      @media (max-width: 767px) {
         padding: 10px 0;
         &:not(:first-child) {
            padding: 22px 0;
         }
      }
   }
   //===TEXT subtitle in dromdown menu (boxing gloves...)
   &__link {
      line-height: 125%;
      color: black;
      @media (max-width: 767px) {
         text-transform: uppercase;
         font-family: Oswald;
         font-style: normal;
         font-weight: normal;
         font-size: 17px;
         line-height: 100%;
      }
   }
}

//================================================Right==============================
.search {
   // js code adds class active
   &._active {
      .search__input {
         // border: 2px solid black;
         @media (min-width: 767px) {
            width: 251.335px;
            @media (max-width: 1400px) {
               width: 251.335px/1400px * 100vw;
            }
            //
            padding: 0px 10px 4px 12.5px;
            transition: width 0.6s ease 0s;
            cursor: auto;
         }
         @media (max-width: 767px) {
            width: 100%;
            opacity: 1;
            pointer-events: all;
         }
      }
      &__form {
      }
   }

   &__form {
      display: flex;
      align-items: flex-start;
      // align-items: center;
      @media (any-hover: hover) {
         &:hover {
            .search__input {
               padding: 0px 10px 4px 12.5px;
            }
            .search__input {
               box-shadow: 0px -1.5px 0px 0px $accent-color inset;
            }
            .search__icon {
               color: $accent-color;
            }
         }
      }
   }

   &__icon {
      font-size: 30px;
      background-color: transparent;
   }

   &__input {
      @media (min-width: 767px) {
         height: 27.2px;
         z-index: 5;
         // for active animation
         margin-left: -3.75px;
         width: 0px;
         padding: 0;
         background-color: transparent;
         // border-bottom: 2px ridge black;
         cursor: pointer;

         box-shadow: 0px -1.5px 0px 0px black inset;
         transition: width 0.6s ease 0s, padding 0.3s ease 0.1s;
      }
      @media (max-width: 767px) {
         position: absolute;
         left: 0;
         top: 70px;

         padding: 15px;
         opacity: 0;
         pointer-events: none;
         width: 0;
         transition: width 0.3s ease-in-out 0s, top 0.2s ease 0s;
         background: rgba(248, 248, 248, 0.95);
         box-shadow: 0px 0px 6px -3px black;
         &:focus {
         }
      }
   }
}

// cart is in individual scss.

.katalog__list::-webkit-scrollbar-track {
   background-color: $shade-light-1;
   border-radius: 1.5px;
   -webkit-border-radius: 1.5px;
   -moz-border-radius: 1.5px;
   -ms-border-radius: 1.5px;
   -o-border-radius: 1.5px;
}
/* Handle */
.katalog__list::-webkit-scrollbar-thumb {
   background: $black-color;
   border-radius: 1.5px;
   -webkit-border-radius: 1.5px;
   -moz-border-radius: 1.5px;
   -ms-border-radius: 1.5px;
   -o-border-radius: 1.5px;
}
/* Handle on hover */
.katalog__list::-webkit-scrollbar-thumb:hover {
}
.katalog__list::-webkit-scrollbar {
   width: 2.5px;
   height: 2.5px;
}
