///================COLORS
//===FOR ads slider
$ads-slider-title-color: black;
$ads-slider-text-color: black;
$ads-slider-dot-color: #e46000;
$ads-slider-dot-circle-color: black;
$ads-slider-title-color: black;
$ads-slider-button-bg-color: black;
$ads-slider-button-title-color: rgb(255, 255, 255);

.main {
   margin-top: 0px; //============margin
   @media (max-width: 767px) {
      margin-top: 0px; //============margin
   }
   &__slider-main {
      overflow: hidden;
   }
   // &__slider-catalog {
   // }
   &__recomend-slider {
   }
}
.slider-main {
   &__container {
   }
   &__body {
   }
   //=====slider
   &__slider {
      width: 100.5vw;
      //
      position: relative;
      overflow: hidden;
      @media (max-width: 767px) {
         overflow: visible;
      }
      //old
      // height: 75vh;
      // min-height: 680px;
      // max-height: 880px;
   }
   &__wrapper {
      height: 100%;
   }
   &__slide {
      // height: 100%;
   }
   &__image {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         // object-fit: contain;
         object-position: top;
         position: absolute;
         top: 0;
         left: 0;
         @media (max-width: 767px) {
            // object-fit: contain;
            width: 200%;
            height: 100%;
            object-fit: 0 50%;
            transform: translateX(-50%);
         }
      }
      //old
      // position:relative.
   }
   //============content
   &__content {
      width: 100%;
      height: 100%;
      padding-top: 160px;
      padding-bottom: 5%;
      @media (max-width: 767px) {
         padding-top: 100px;
      }
      //
      //old
      // position: absolute;
      // padding-top: 160px;
      // height: 90%;
      // width: 100%;
      // bottom: 10%;
      // left: 0;
      pointer-events: none;
   }
   &__content-container {
      position: relative;
      height: 100%;
      //
      display: flex;
      justify-content: space-between;
      @media (max-width: 767px) {
         display: block;
      }
   }
   //========description
   &__description {
      // pointer-events: all;
      @media (min-width: 767px) {
         padding-top: 44px + 20px; // 44px is arrows in navigation
         max-width: calc(50% - 40px);
         padding-bottom: 48px + 30px; //48px is a height of the bullet  in navigation
      }
      @media (max-width: 767px) {
         //
         display: flex;
         flex-direction: row-reverse;
         flex-wrap: wrap;
         justify-content: start;
         &::before {
            content: "";
            display: block;
            position: relative;
            width: 205px + 30px;
            height: 270px + 40px;
            // background-color: rgb(0, 255, 21);
            opacity: 0;
            visibility: none;
            pointer-events: none;
            //
            order: 1;
            @media (max-width: 500px) {
               height: 270px + 25px;
            }
         }
      }
   }
   &__title {
      line-height: 100%;
      @media (max-width: 767px) {
         min-width: 50%;
         //
         flex: 1 1;
         order: 2;
         align-self: flex-end;
      }
   }
   &__text {
      @media (max-width: 767px) {
         line-height: 110%;
         //
         order: 3;
         // padding-top: 20px;
      }
      line-height: 150%;
   }
   //==============action
   &__action {
      pointer-events: all;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 767px) {
         align-items: flex-end;
         position: absolute;
         top: 0;
         right: 0;
         @include adaptive-value("margin-right", 20, 30);
      }
   }
   &__product-card {
      //shdow
      box-shadow: 4px 4px 20px 0 rgba(48, 48, 48, 0.4);
      //
      width: 240px;
      margin-bottom: 30px;
      @media (max-width: 1400px) {
         width: 240px/1400px * 100vw;
      }
      @media (max-width: 992px) {
         width: 320px;
         @media (max-width: 1400px) {
            width: 320px/1400px * 100vw;
         }
      }
      @media (max-width: 767px) {
         width: 205px;
      }
      & .product-card {
         background-color: $page-background;
         max-width: 320px;
         min-width: 0;
      }
      & .product-card__image {
         // & img:last-child {
         //    display: none;
         // }
         max-height: 320px;
         min-height: 0;
         padding: 0 0 320px/320px * 100% 0;
      }
      & .product-card__cart-button {
         display: none;
      }
      //labels
      @media (max-width: 767px) {
         & .product-card__labels {
            position: initial;
         }
         & .product-card__label {
            position: absolute;
            &-new {
               top: 20%;
               left: 60%;
               //
               width: 70%;
               height: 30px;
               border-radius: $border-radius * 3;
               box-shadow: 2px 2px 10px 0 rgba(48, 48, 48, 0.521);
            }
            &-sale {
               top: 40%;
               left: -30%;
               //
               width: 80%;
               height: 30px;
               border-radius: $border-radius * 3;
               box-shadow: 2px 2px 10px 0 rgba(48, 48, 48, 0.521);
            }
         }
         & .product-card__price-old,
         .product-card__price {
            font-size: 14px;
         }
      }
   }
   &__button {
      align-self: flex-end;
      width: 200px;
      @media (max-width: 1400px) {
         width: 200px/1400px * 100vw;
      }
      @media (max-width: 992px) {
         width: 320px;
         @media (max-width: 1400px) {
            width: 320px/1400px * 100vw;
         }
      }
      //
      background-color: $accent-color;
      color: white;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      &::after {
         @extend %ic;
         font-size: 20px;
      }
      @media (max-width: 767px) {
         display: none;
      }
   }
   //==================navigation
   &__navigation {
      position: absolute;
      width: 100%;
      height: 100%;
      padding-top: 160px;
      padding-bottom: 5%;
      left: 0;
      top: 0;
      pointer-events: none;
      @media (max-width: 767px) {
         padding-top: 100px;
      }
      //old
      // padding-top: 160px;
      // height: 90%;
      // width: 100%;
      // bottom: 10%;
   }
   &__navigation-container {
      position: relative;
      height: 100%;
      //
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 767px) {
         // justify-content: flex-end;
      }
   }
   &__dots {
      &.swiper-pagination-bullets {
         display: flex;
         flex-wrap: wrap;

         & .swiper-pagination-bullet {
            pointer-events: all;
            cursor: pointer;
            width: 48px;
            height: 48px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            //
            font-family: Oswald;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: black;
            //
            &::after {
               content: "";
            }
            &::before {
               content: "";
            }
            transition: all 0.3s ease 0s;
            //
            border-radius: $border-radius; //========================= experement
            //
            @media (max-width: 767px) {
               display: none;
            }
         }
         & .swiper-pagination-bullet-active {
            background-color: $accent-color;
            color: white;
            transition: all 0.1s ease 0.1s;
            &::before {
            }
            &::after {
            }
         }
      }
   }
   &__arrows {
      display: flex;
      @media (max-width: 767px) {
         // display: none;
      }
      @media (max-width: 500px) {
         display: none;
      }
   }
   &__next {
      cursor: pointer;
      font-size: 40px;
      pointer-events: all;
   }
   &__prev {
      cursor: pointer;
      pointer-events: all;
      font-size: 40px;
      transform: rotateY(180deg);
   }
}

//===========
.slider-catalog {
   &__container {
   }
   &__body {
   }
   &__slider-catalog-header {
   }
   &__slider {
      overflow: hidden;
      width: 100%;
      @include adaptive-value("height", 680, 107.35);
      @media (max-width: 992px) {
         @include adaptive-value("height", 680, 540);
         overflow: vis;
      }
      @media (max-width: 767px) {
         @include adaptive-value("height", 540, 400);
         overflow: visible;
      }
   }
   &__wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
   }
   &__slide {
      height: calc((100% - 40px) / 2);
      @media (max-width: 992px) {
         height: calc((100% - 40px) / 4.16);
         width: auto;
      }
      @media (max-width: 767px) {
         height: calc((100% - 40px) / 4.16);
         width: auto;
      }
      overflow: hidden;
      position: relative;
   }
   &__image {
      background-image: linear-gradient(315.01deg, #ff710d 8.31%, #ffa800 88.22%);
      overflow: hidden;
      width: 100%;
      height: 100%;
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
   }
}
