.error__wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.top__message{
    color: #FF5C00;
    font-family: Oswald;
    font-size: 20px;
}
.message{
    font-family: Oswald;
    font-size: 120px;
}
.error__bth{
    padding-top:23px ;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.to__main{
    color: white;
    border-radius:4px;
    height: 50px;
    width: 200px;
    background-color: #FF5C00;
    font-size: 17px;
    font-family: Oswald;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}