.delivery {
    &__container {
        height: 100%;
    }
    &__title {
        flex-direction: row-reverse;
        //for box
        &::after {
            @extend %ic;
            @include adaptive-value("padding-right", 10, 5);
            font-size: 30px;
            display: block;
        }
    }
    &__table {
        width: auto;
        overflow: hidden;
        overflow: auto;
    }
}

.table {
    min-width: 500px;
    @media (max-width: 767px) {
        min-width: 0;
    }
    //
    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }
    &__body {
        display: flex;
        flex-direction: column;
    }
    &__row {
        display: flex;
        position: relative;
        border-bottom: 1px solid $lines-color;
        &:last-child {
            border-bottom: none;
        }
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
    }
    &__row-first {
        border: none;
        & .table__column-last {
            flex: 1 1 20% + 20%;
            text-align: center;
        }
        & .table__column-first {
            padding: 0;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
    &__row-second {
        @media (max-width: 767px) {
            display: none;
        }
    }
    &__column {
        flex: 1 1 20%;
        text-align: center;
        padding: 20px 0px;
        border-left: 1px solid $lines-color;
        &:last-child {
            border-right: 1px solid $lines-color;
        }
        &-gap {
            border-left: 1px solid transparent;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: -1px;
                width: 1px;
                height: 66%;
                background-color: $lines-color;
            }
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
    &__column-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        width: 50px;
        &::before {
            font-size: 30px;
        }
        @media (max-width: 767px) {
            border-right: 1px solid $lines-color;
            padding-right: 15px;
        }
    }
    &__column-first {
        display: flex;
        align-items: flex-end;
        flex: 1 1 70%;
        padding: 20px 0px;
        &::before {
            display: none;
        }
        @media (max-width: 767px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            &::before {
                display: block;
                font-size: 30px;
                transition: all 0.4s ease 0s;
            }
            flex: 1 1 auto;
            &._active {
                &::before {
                    transform: rotateZ(45deg);
                }
            }
        }
    }
    &__column-mobiletext {
        overflow: hidden;
        margin-left: 49px;
        padding-left: 15px;
        // padding-bottom: 20px;
        display: none;
        border-left: 1px solid $lines-color;
        @media (max-width: 767px) {
            display: block;
        }
        height: 0;
        padding-bottom: 0px;
        transition: all 0.4s ease 0s;
    }
}
