.map {
    &__container {
    }
    &__map {
    }
    &__info {
        display: flex;
        justify-content: space-between;
    }
}
.info__block {
    width: 20%;
    @include adaptive-value("padding-bottom", 60, 17);
    & p {
        font-family: Oswald;
        color: #a1a1a1;
        @include adaptive-value("padding-bottom", 30, 10);
    }
    & div {
        font-family: DM Mono;
    }
}
@media (max-width: 992px) {
    .map__info {
        flex-direction: column;
    }
    .info__block {
        width: auto;
    }
}
iframe {
    //
    border-radius: $border-radius; //===================experement
    //
    @media (max-width: 767px) {
        margin: 0 -15px;
        width: 120%;
    }
}

// .map__frame iframe {
//     @include adaptive-value("padding-left", 120, 15);
//     @include adaptive-value("padding-right", 120, 15);
//     @include adaptive-value("padding-bottom", 30, 10);
// }
// .info__city {
//     font-weight: bold;
//     @include adaptive-value("padding-bottom", 21, 10);
// }
// .info__time {
//     @include adaptive-value("padding-bottom", 19, 10);
// }
// .info__contacts {
//     & div {
//         @include adaptive-value("padding-bottom", 5, 10);
//     }
// }
// #map {
//     height: 60vh;
// }
