// .img-zoom-zoom__container {
//     position: relative;
//     overflow: hidden;
//     display: block;
//     width: 100%;
//   }

//   .img-zoom-lens {
//     position: absolute;
//     border: 1px solid #d4d4d4;
//     /*setthesizeofthelens:;
//     */transform: scale(2);
//     width: 40px;
//     height: 40px;

// }
//   #myimage{

//   }
//   .img-zoom-result {
//     position: absolute;
//     border: 1px solid #d4d4d4;
//     /*set the size of the result div:*/
//     width: 150px;
//     height: 150px;
//   }

.zoom {
  background-position: 50% 50%;
  background-size: 200% 200%;
  background-repeat: no-repeat;
  // width: 100%;
  // overflow: hidden;

  img {
    transition: opacity 0.5s;
    display: block;
    // width: 100%;
    &:hover {
    opacity: 0;
    }
  }
}
